<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <meta charset="utf-8">
        <title>Backgammon</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <header>
            <h1>BACKGAMMON</h1> 
        </header>

        <main>
            <section>
                {{ if eq .login "invalid login" }}
                    <p>Invalid login. Player 2 is now a guest.</p>
                {{ end }}
                {{ if eq .login "self login" }}
                    <p>You cannot play yourself. Player 2 is now a guest.</p>
                {{ end }}
                <p>Game ID: {{ .id }}</p>
                <p>White: {{ .p1 }}</p>
                <p>Black: {{ .p2 }}</p>
                <a href="{{.startGameURL}}"><button class="button">Start the game...</button></a>
            </section>
        </main>

        <footer>

        </footer>
    </body>
</html>