<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <meta charset="utf-8">
        <title>Backgammon</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <header>
            <h1>BACKGAMMON</h1> 
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a id="user" href="/login"></a></li>
                <script>
                    var user = "{{ .currentUser }}";
                    if (user == "Guest") {
                        document.getElementById("user").innerHTML = "Login";
                    } else {
                        document.getElementById("user").innerHTML = "Welcome, {{ .currentUser }}!";
                    }   
                </script>
                <li><a href="/selectPlayers">New Game</a></li>
            </ul>
        </nav>

        <main>
            <section>
                {{ if eq .login "invalid login" }}
                    <p>Invalid login. Player 2 is now a guest.</p>
                {{ end }}
                {{ if eq .login "self login" }}
                    <p>You cannot play yourself. Player 2 is now a guest.</p>
                {{ end }}
                <p>Game ID: {{ .id }}</p>
                <p>White: {{ .p1 }}</p>
                <p>Black: {{ .p2 }}</p>
                <p>Roll do decide who starts the game</p>
                <!-- <a href="{{.startGameURL}}"><button class="button">Start the game...</button></a> -->
                <a href="rollToStart"><button class="button">Roll</button></a>
                <!-- Plan:
                - make a roll to start function
                - this will roll the dice - one for each Player
                - send to new html - firstroll or smt
                - use same template as this, but have an extra div that shows the dice
                - make sure to send in all the same vars to this new html file
                - send the dice roll to the newgame function too (or like set the dice to the game) - hopefully this will work fluently with /play, but maybe not -->
            </section>
        </main>

        <footer>

        </footer>
    </body>
</html>