<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <meta charset="utf-8">
        <title>Backgammon</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <header>
            <h1>BACKGAMMON</h1> 
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/newgame">New Game</a></li>
            </ul>
        </nav>

        <main>
            <section>
                <h2>Here is the current board: </h2>
                <p>pretend game state </p>
                <p>Now it's {{ .player }}'s turn.</p>
                <p>Captured Pieces: {{ .captured }}</p>
            

            </section>
        </main>
            <p>
            {{ if eq true .isHuman }}
                {{ $urllist := .urlList}}
                {{ range $index, $possiblemoves := .possibleMoves}}
                    <p>TESTING</p>
                    <a href="{{index $urllist $index}}"><button class="button">{{index $urllist $index}}</button></a>
                {{ end }}
            {{ else }}
                <a href="{{.url}}"><button class="button">AI ELSE</button></p></a>
            {{ end }}
            </p>

        <footer>

        </footer>
    </body>
</html>
