html
{
    background: url(./bg.jpg) no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}
h2 
{
    text-emphasis: normal;
    font-size: x-large;
    text-align: center;
    color: black;
}
section
{   
    position: relative;
    width: 690px;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: medium;
    border-color:black;
    align-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px; 
}
.button
{
    background-color: green;
    color: white;
    font-size: large;
    border-style: solid;
    border-color: green;
    border-width: medium;
    border-radius: 15px;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    font-size: 150%;
    margin: 5px;
}
.button:hover 
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.board 
{
    width: 700px;
    height: 480px;
    float: center;
    position: relative;
    box-sizing: border-box;
    background-color: #335533;
    border: 10px solid rgb(89, 22, 22);
    border-radius: 10px;
    margin: auto;
}
.left-side 
{
    position: relative;
    left: 15px;
}
.right-side 
{
    position: relative;
    left: 330px;
    top: -390px;
    clear: left;
}
.bottom-row 
{
    position: relative;
    top: 70px
}
.right-side .bottom-row
{
    clear: left;
}
.left-side .bottom-row 
{
    clear: left;
}
.space-down 
{
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 195px solid brown;
    border-bottom: 0px solid;
    display: inline;
    float: left;
    position: relative;
}
.space-up 
{
    width: 0px; 
    height: 0px; 
    border-top: 0px solid;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent ;
    border-bottom: 195px solid brown;
    display: inline;
    float: left;
}
.space-up.odd 
{
    border-bottom: 195px solid burlywood;
}
.space-down.even 
{
    border-top: 195px solid burlywood;
}
.divider 
{
    width: 20px;
    height: 450px;
    padding: 5px;
    background-color: rgb(89, 22, 22);
    position: absolute;
    left: 280px;
    top: 0px;
}
.mini-divider
{
    width: 5px;
    height: 450px;
    padding: 5px;
    background-color: rgb(89, 22, 22);
    position: absolute;
    left: 585px;
    top: 0px;
}
.side-divider
{
    width: 80px;
    height: 5px;
    padding: 5px;
    margin: 0px;
    background-color: rgb(119, 29, 29);
    position: absolute;
    left: 600px;
    bottom: 230px;
}
input[type=submit]
{
    background-color: green;
    color: white;
    border-style: solid;
    border-color: green;
    border-width: medium;
    border-radius: 15px;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    font-size: 150%;
}
.white-piece
{
    width: 36px;
    height: 36px;
    background-color: white;
    position: absolute;
    z-index: 1;
    border-radius: 18px;
}
.black-piece
{
    width: 36px;
    height: 36px;
    background-color: black;
    position: absolute;
    z-index: 1;
    border-radius: 18px;
}
.blackhome
{
    background-color: burlywood;
    font-size: xx-large;
    text-align: center;
    justify-content: center;
    width: 80px;
    height: 225px;
    position: absolute;
    left: 600px;
    top: 0px;
}
.whitehome
{
    background-color: burlywood;
    font-size: xx-large;
    text-align: center;
    justify-content: center;
    width: 80px;
    height: 230px;
    position: absolute;
    left: 600px;
    top: 230px;
}
.jail
{
    position: absolute;
    left: -2px;
    top: 230px;
}