body
{
    font-family: 'Bookman', 'Lucida Sans', Geneva, sans-serif;
    text-align: center;
}
h1
{
    color: green;
    font-size: 400%;
    text-align: center;
    padding: 20px;
    margin: 0px;
    font-family: 'Blippo', 'Lucida Sans', fantasy;
}
h2
{
    text-align: center;
    font-size: x-large;
    color: black;
    text-emphasis: none;
}
p
{
    font-size: 120%;
    text-align: center;
}
section
{   
    position: absolute;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: medium;
    border-color: rgba(0, 128, 0, 0.504);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    right: 20%;
    left: 20%;
    border-radius: 15px; 
}
.button
{
    background-color: green;
    color: white;
    border-style: solid;
    border-color: green;
    border-width: medium;
    border-radius: 15px;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    font-size: 150%;
}
.button:hover 
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}